In [1]:
import pandas as pd

In [2]:
df = pd.read_html("https://archive.ics.uci.edu/ml/datasets.php?format=&task=&att=&area=&numAtt=&numIns=&type=&sort=nameUp&view=table")[5]
df.columns = df.loc[0]
df = df.loc[1:]
df['Year'] = pd.to_datetime(df['Year'], format='%Y')

In [3]:
import numpy as np
df = df.replace([np.inf, -np.inf], np.nan)
# Keep only data sets that are NOT time series (since they generally tend to be extremely wide)
df = df[~df["Data Types"].str.contains("Time-Series",na=False)]
df1 = df[['# Instances','# Attributes']].dropna().astype(int)

In [4]:
df1["# values"] = df1['# Instances']*df1['# Attributes']

The width and size of the dataset follows a highly skewed distribution.

In [5]:
df1.describe().astype(int)

0      # Instances  # Attributes        # values
count          389           389             389
mean        268866          9813    100989305123
std        1517924        121085   1944761494900
min             10             1              45
25%            306             9            5334
50%           1080            20           36893
75%          11463            61          768587
max       17764280       2158859  38350575756520

If we support 10000000 rows and 200 cols, that covers around 85% of the non-time series datasets on UCI. We guarantee t_overall cost to be under X seconds.

In [6]:
ROW_MAX = 1e7
len(df1[df1["# Instances"]<ROW_MAX])/len(df1)

0.9897172236503856

In [11]:
COL_MAX = 128
len(df1[df1["# Attributes"]<COL_MAX])/len(df1)

0.8329048843187661

In [12]:
len(df1[(df1["# Instances"]<ROW_MAX) & (df1["# Attributes"]<COL_MAX)])/len(df1)

0.8277634961439588

In [14]:
len(df1[df1["# values"]<1e7*17])/len(df1)

0.9640102827763496