In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.2.3'

In [3]:
pushd ../../lux/

['~/Desktop/Research/lux/lux-benchmark/paper']

In [4]:
import lux

In [5]:
lux.__file__

'/Users/dorislee/Desktop/Research/lux/lux/lux/__init__.py'

In [10]:
import pandas as pd
import numpy as np
import pandas as pd
from faker.providers.person.en import Provider
import random

def get_random_dates(start, end, size):
    # Adapted from: https://stackoverflow.com/a/50668285
    divide_by = 24 * 60 * 60 * 10**9
    start_u = start.value // divide_by
    end_u = end.value // divide_by
    return pd.to_datetime(np.random.randint(start_u, end_u, size), unit="D")

def get_random_names(size,cardinality):
    names = getattr(Provider, 'first_names')[:cardinality]
    return np.random.choice(names, size=size)

def generate_synthetic_dataframe(N_cols, size):
    # Fake dataset proportion
    # 78% : quantitative = 50% int, 50% float
    # 20%: nominal = vary cardinality 
    # Remaining: temporal
    N_ints = int(N_cols*(0.78/2))
    N_floats = int(N_cols*(0.78/2))
    N_nominal = int(N_cols*0.2)
    N_temporal = int(N_cols-N_ints-N_floats-N_nominal)
    # print (N_ints,N_floats,N_nominal,N_temporal)

    data = []
    for _ in range(N_ints):
        int_col = np.array(random.sample(range(1, 100000),size))
        data.append(int_col)
    for _ in range(N_floats):
        float_col = np.random.random(size)
        data.append(float_col)
    for _ in range(N_temporal):
        t_col = get_random_dates(start=pd.to_datetime('1900-01-01'), end=pd.to_datetime('2021-01-01'), size=size)
        data.append(t_col)
    for _ in range(N_nominal):
        cardinalities = np.geomspace(1,10000,N_nominal,dtype=int)
        cat_col = get_random_names(size=size,cardinality=cardinalities[_])
        data.append(cat_col)
    df = pd.DataFrame(data).T
    # df = df.convert_dtypes()
    df = df.infer_objects()
    df.columns = df.columns.map(lambda x: f"col_{x}")
    return df

In [25]:
df = generate_synthetic_dataframe(50,50000)

In [26]:
df.to_csv("../lux-benchmark/data/synthetic_50000.csv",index=None)

In [20]:
df

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [19]:
df.recommendation

{'Correlation': [<Vis  (x: col_35, y: col_46) mark: scatter, score: 0.03 >,
  <Vis  (x: col_54, y: col_31) mark: scatter, score: 0.03 >,
  <Vis  (x: col_47, y: col_41) mark: scatter, score: 0.03 >,
  <Vis  (x: col_50, y: col_34) mark: scatter, score: 0.03 >,
  <Vis  (x: col_60, y: col_41) mark: scatter, score: 0.03 >,
  <Vis  (x: col_40, y: col_36) mark: scatter, score: 0.02 >,
  <Vis  (x: col_37, y: col_31) mark: scatter, score: 0.02 >,
  <Vis  (x: col_60, y: col_61) mark: scatter, score: 0.02 >,
  <Vis  (x: col_50, y: col_48) mark: scatter, score: 0.02 >,
  <Vis  (x: col_59, y: col_44) mark: scatter, score: 0.02 >,
  <Vis  (x: col_42, y: col_56) mark: scatter, score: 0.02 >,
  <Vis  (x: col_49, y: col_45) mark: scatter, score: 0.02 >,
  <Vis  (x: col_45, y: col_39) mark: scatter, score: 0.02 >,
  <Vis  (x: col_50, y: col_43) mark: scatter, score: 0.02 >,
  <Vis  (x: col_32, y: col_44) mark: scatter, score: 0.02 >],
 'Distribution': [<Vis  (x: BIN(col_47), y: COUNT(Record)) mark: histogram, score: 1.19 >,
  <Vis  (x: BIN(col_38), y: COUNT(Record)) mark: histogram, score: 1.02 >,
  <Vis  (x: BIN(col_58), y: COUNT(Record)) mark: histogram, score: 0.95 >,
  <Vis  (x: BIN(col_55), y: COUNT(Record)) mark: histogram, score: 0.90 >,
  <Vis  (x: BIN(col_39), y: COUNT(Record)) mark: histogram, score: 0.90 >,
  <Vis  (x: BIN(col_50), y: COUNT(Record)) mark: histogram, score: 0.70 >,
  <Vis  (x: BIN(col_44), y: COUNT(Record)) mark: histogram, score: 0.57 >,
  <Vis  (x: BIN(col_33), y: COUNT(Record)) mark: histogram, score: 0.55 >,
  <Vis  (x: BIN(col_49), y: COUNT(Record)) mark: histogram, score: 0.51 >,
  <Vis  (x: BIN(col_54), y: COUNT(Record)) mark: histogram, score: 0.43 >,
  <Vis  (x: BIN(col_40), y: COUNT(Record)) mark: histogram, score: 0.41 >,
  <Vis  (x: BIN(col_56), y: COUNT(Record)) mark: histogram, score: 0.36 >,
  <Vis  (x: BIN(col_57), y: COUNT(Record)) mark: histogram, score: 0.26 >,
  <Vis  (x: BIN(col_35), y: COUNT(Record)) mark: histogram, score: 0.25 >,
  <Vis  (x: BIN(col_51), y: COUNT(Record)) mark: histogram, score: 0.17 >,
  <Vis  (x: BIN(col_60), y: COUNT(Record)) mark: histogram, score: 0.17 >,
  <Vis  (x: BIN(col_32), y: COUNT(Record)) mark: histogram, score: 0.08 >,
  <Vis  (x: BIN(col_53), y: COUNT(Record)) mark: histogram, score: 0.08 >,
  <Vis  (x: BIN(col_43), y: COUNT(Record)) mark: histogram, score: 0.06 >,
  <Vis  (x: BIN(col_37), y: COUNT(Record)) mark: histogram, score: 0.06 >,
  <Vis  (x: BIN(col_31), y: COUNT(Record)) mark: histogram, score: 0.01 >,
  <Vis  (x: BIN(col_59), y: COUNT(Record)) mark: histogram, score: 0.00 >,
  <Vis  (x: BIN(col_42), y: COUNT(Record)) mark: histogram, score: -0.13 >,
  <Vis  (x: BIN(col_45), y: COUNT(Record)) mark: histogram, score: -0.19 >,
  <Vis  (x: BIN(col_61), y: COUNT(Record)) mark: histogram, score: -0.29 >,
  <Vis  (x: BIN(col_34), y: COUNT(Record)) mark: histogram, score: -0.34 >,
  <Vis  (x: BIN(col_48), y: COUNT(Record)) mark: histogram, score: -0.42 >,
  <Vis  (x: BIN(col_36), y: COUNT(Record)) mark: histogram, score: -0.49 >,
  <Vis  (x: BIN(col_52), y: COUNT(Record)) mark: histogram, score: -0.86 >,
  <Vis  (x: BIN(col_41), y: COUNT(Record)) mark: histogram, score: -1.09 >,
  <Vis  (x: BIN(col_46), y: COUNT(Record)) mark: histogram, score: -1.16 >],
 'Occurrence': [<Vis  (x: COUNT(Record), y: col_66) mark: bar, score: 0.00 >,
  <Vis  (x: COUNT(Record), y: col_67) mark: bar, score: 0.00 >,
  <Vis  (x: COUNT(Record), y: col_68) mark: bar, score: 0.00 >,
  <Vis  (x: COUNT(Record), y: col_69) mark: bar, score: 0.00 >,
  <Vis  (x: COUNT(Record), y: col_70) mark: bar, score: 0.00 >,
  <Vis  (x: COUNT(Record), y: col_71) mark: bar, score: 0.00 >,
  <Vis  (x: COUNT(Record), y: col_72) mark: bar, score: 0.00 >,
  <Vis  (x: COUNT(Record), y: col_73) mark: bar, score: 0.00 >,
  <Vis  (x: COUNT(Record), y: col_74) mark: bar, score: 0.00 >,
  <Vis  (x: COUNT(Record), y: col_75) mark: bar, score: 0.00 >,
  <Vis  (x: COUNT(Record), y: col_76) mark: bar, score: 0.00 >,
  <Vis  (x: COUNT(Record), y: col_77) mark: bar, score: 0.00 >,
  <Vis  (x: COUNT(Record), y: col_78) mark: bar, score: 0.00 >,
  <Vis  (x: COUNT(Record), y: col_79) mark: bar, score: 0.00 >],
 'Temporal': [<Vis  (x: col_62, y: COUNT(Record)) mark: line, score: 0.00 >,
  <Vis  (x: col_63, y: COUNT(Record)) mark: line, score: 0.00 >]}

In [13]:
df.dtypes

col_0             int64
col_1             int64
col_2             int64
col_3           float64
col_4           float64
col_5           float64
col_6    datetime64[ns]
col_7    datetime64[ns]
col_8            object
col_9            object
dtype: object

In [14]:
df.convert_dtypes()

/Users/dorislee/.virtualenvs/lux/lib/python3.7/site-packages/IPython/core/formatters.py:345: UserWarning:
Unexpected error in rendering Lux widget and recommendations. Falling back to Pandas display.
Please report the following issue on Github: https://github.com/lux-org/lux/issues

/Users/dorislee/Desktop/Research/lux/lux/lux/core/frame.py:684: UserWarning:Traceback (most recent call last):
  File "/Users/dorislee/Desktop/Research/lux/lux/lux/core/frame.py", line 646, in _repr_html_
    self.maintain_recs()
  File "/Users/dorislee/Desktop/Research/lux/lux/lux/core/frame.py", line 505, in maintain_recs
    self._widget = rec_df.render_widget()
  File "/Users/dorislee/Desktop/Research/lux/lux/lux/core/frame.py", line 733, in render_widget
    widgetJSON = self.to_JSON(self._rec_info, input_current_vis=input_current_vis)
  File "/Users/dorislee/Desktop/Research/lux/lux/lux/core/frame.py", line 772, in to_JSON
    recCollection = LuxDataFrame.rec_to_JSON(rec_infolist)
  File "/Users/dorislee/Desktop/Research/lux/lux/lux/core/frame.py", line 796, in rec_to_JSON
    chart = vis.to_code(language=lux.config.plotting_backend, prettyOutput=False)
  File "/Users/dorislee/Desktop/Research/lux/lux/lux/vis/Vis.py", line 307, in to_code
    return self.to_VegaLite(**kwargs)
  File "/Users/dorislee/Desktop/Research/lux/lux/lux/vis/Vis.py", line 283, in to_VegaLite
    self._code = renderer.create_vis(self)
  File "/Users/dorislee/Desktop/Research/lux/lux/lux/vislib/altair/AltairRenderer.py", line 57, in create_vis
    PandasExecutor.execute_2D_binning(vis)
  File "/Users/dorislee/Desktop/Research/lux/lux/lux/executor/PandasExecutor.py", line 360, in execute_2D_binning
    vis._vis_data["xBin"] = pd.cut(vis._vis_data[x_attr], bins=lux.config.heatmap_bin_size)
  File "/Users/dorislee/.virtualenvs/lux/lib/python3.7/site-packages/pandas/core/reshape/tile.py", line 238, in cut
    rng = (nanops.nanmin(x), nanops.nanmax(x))
  File "/Users/dorislee/.virtualenvs/lux/lib/python3.7/site-packages/pandas/core/nanops.py", line 133, in f
    result = alt(values, axis=axis, skipna=skipna, **kwds)
  File "/Users/dorislee/.virtualenvs/lux/lib/python3.7/site-packages/pandas/core/nanops.py", line 392, in new_func
    result = func(values, axis=axis, skipna=skipna, mask=mask, **kwargs)
  File "/Users/dorislee/.virtualenvs/lux/lib/python3.7/site-packages/pandas/core/nanops.py", line 975, in reduction
    result = getattr(values, meth)(axis)
TypeError: min() takes 1 positional argument but 2 were given

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9
0,83702,75779,48806,0.80718,0.336739,0.870545,1938-03-09,1958-11-09,Aaden,Matilda
1,63573,49790,9869,0.477702,0.273754,0.849214,1951-03-25,1986-04-12,Aaden,Janel
2,88870,46575,48337,0.85022,0.922943,0.202034,1916-06-08,2015-06-13,Aaden,Gaige
3,61410,49053,92441,0.06419,0.245577,0.08209,1910-07-27,1944-01-24,Aaden,Clyda
4,42472,88905,94597,0.316113,0.968076,0.074695,2003-12-26,2014-04-15,Aaden,Saige
...,...,...,...,...,...,...,...,...,...,...
9995,11099,82124,82149,0.790697,0.178323,0.086164,2004-12-09,1900-11-23,Aaden,Erna
9996,14044,45352,9233,0.380528,0.252087,0.697102,2015-05-14,1939-07-24,Aaden,Bonita
9997,16554,22060,30240,0.187233,0.967493,0.346705,2007-07-16,1970-01-22,Aaden,Whitley
9998,50922,18491,49200,0.933023,0.751588,0.215439,2003-09-05,1956-10-16,Aaden,Cora
9999,98476,79263,14894,0.276543,0.679612,0.350529,1914-07-08,1936-08-23,Aaden,Darren